@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    width: 390px;
}
header{
    width: 100%;
    margin: 16px;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(1,154,195,1) 0%, rgba(10,109,136,1) 100%);
}
main{
    width: 100%;
    margin: 16px;
}
header img{
    width: 200px;
}
img{
    margin: 0 auto;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px 15px;
        }
table {
    border-collapse: collapse;
    width: 100%;
     }
