@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');
*{
    box-sizing: border-box;
}
html, body{
    width: 390px;
    margin: 0 auto;
    background-image: url("../img/sfondo.png") ;
    background-repeat: repeat-y;
    background-position: center;
    font-family: "Poppins", sans-serif;
}
header{
    width: 358px;
    margin: 16px;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(1,154,195,1) 0%, rgba(10,109,136,1) 100%);
    text-align: center;
    padding: 32px 0;
}
main{
    width: 358px;
    background-color: white;
    padding: 16px 16px;
    margin: 16px;
}
h1{
    font-size: 32px;
    margin-block: 16px;
    line-height: 1.3em;
    font-weight: 500;
}
h3{
    margin-block: 16px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
p{
    margin-block: 16px;
    line-height: 1.4em;
}
header a{
    color: white;
    text-decoration: none;

}
header h2{
    margin-block: 20px;
    font-family: "Poppins", sans-serif;
}
header li{
    margin-block: 10px;
    font-family: "Poppins", sans-serif;
}
header img{
    width: 200px;
    margin: 0 auto;
}
tr:nth-last-of-type(2n){
    background-color: #E4E7E7;
}
td {
    text-align: left;
    padding: 16px 16px;
    }
   th {
        background-color: #356EBB ;
        justify-content: baseline;
        padding: 10px 15px;
        color: white;
        line-height: 1.4em;
        }
table {
    border-collapse: collapse;
    width: 100%;
     }

footer{
    background: linear-gradient(180deg, rgba(1,154,195,1) 0%, rgba(10,109,136,1) 100%);
    width: 358px;
    margin: 16px;
    color: white;
    padding: 16px;
    text-align: center;
}
.related-articles{
    background-color: #E4E7E7;
    padding: 24px 16px 16px 16px;
    margin-block: 8px;
    border: 1px solid rgb(187, 186, 186);
}
.date{
    text-align: right;
}
.span{
    color: #AA1F72;
}
input{
    border: 0px;
    padding: 4px;
    width: 70%;
    height: 32px;
    border-bottom: 2px dashed grey;
}
button{
    width: 28%;
    height: 32px;
    background-color: #3366CB;
    border: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 16px;
}
section{
    background-color: #E4E7E7;
    padding: 8px 16px;
    padding-bottom: 32px;
    margin-top: 16px;
}
form{
    display: block;
}
.related-articles a{
    color: #AA1F72;
}
main ul li{
    list-style-type:initial;
    line-height: 1.2em;
    margin-bottom: 4px;

}
ol li{
    list-style-type:decimal;
    line-height: 1.2em;
    margin-bottom: 4px;
}
main ul{
    padding-left: 24px;
}
ol{
    padding-left: 24px;
}
.autore{
    color: #c2c5c5;
}